{% extends 'base.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/pages/profile.css' %}">{% endblock %}
{% block content %}
<main class="profile-main">
    <div class="profile-card">
        <h3>Рівні навичок:</h3>
        <p>Мова: <b>{{ user.profile.language }}</b></p>
        <p>Математика: <b>{{ user.profile.math }}</b></p>
        <p>Логіка: <b>{{ user.profile.logic }}</b></p>
        <p>Пам'ять: <b>{{ user.profile.memory }}</b></p>
        <p>Завершено сесій: <b>{{ user.profile.completed_sessions }}</b></p>
    </div>

    <div class="profile-actions">
        <a href="{% url 'logout' %}" class="nav-auth-btn profile-logout-btn">Вийти</a>
    </div>
</main>
{% endblock %}